<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.manage.mapper.BPOrderInfoMapper">

    <resultMap type="BPOrderInfo" id="BPOrderInfoResult">
        <result property="id" column="id"/>
        <result property="orderNumber" column="order_number"/>
        <result property="orderType" column="order_type"/>
        <result property="storeId" column="store_id"/>
        <result property="bPPrice" column="b_p_price"/>
        <result property="bPTime" column="b_p_time"/>
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="deptId" column="dept_id"/>
    </resultMap>

    <sql id="selectBPOrderInfoVo">
        select id,
               order_number,
               order_type,
               store_id,
               b_p_price,
               b_p_time,
               user_id,
               create_time,
               update_by,
               update_time,
               remark,
               dept_id
        from tb_b_p_order_info
    </sql>

    <select id="selectBPOrderInfoList" parameterType="BPOrderInfo" resultMap="BPOrderInfoResult">
        <include refid="selectBPOrderInfoVo"/>
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="orderNumber != null  and orderNumber != ''">and order_number like concat('%', #{orderNumber},
                '%')
            </if>
            <if test="orderType != null  and orderType != ''">and order_type = #{orderType}</if>
            <if test="storeId != null ">and store_id = #{storeId}</if>
            <if test="params.beginBPTime != null and params.beginBPTime != '' and params.endBPTime != null and params.endBPTime != ''">
                and DATE_FORMAT(b_p_time, '%Y-%m-%d') between #{params.beginBPTime} and #{params.endBPTime}
            </if>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''">
                and DATE_FORMAT(create_time, '%Y-%m-%d') between #{params.beginCreateTime} and #{params.endCreateTime}
            </if>
            <if test="updateBy != null  and updateBy != ''">and update_by like concat('%', #{updateBy}, '%')</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''">
                and DATE_FORMAT(update_time, '%Y-%m-%d') between #{params.beginUpdateTime} and #{params.endUpdateTime}
            </if>
            <if test="deptIds != null and deptIds.size > 0">
                and dept_id in
                <foreach collection="deptIds" open="(" close=")" separator="," item="id">
                    #{id}
                </foreach>
            </if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
        order by b_p_time desc
    </select>

    <select id="selectBPOrderInfoById" parameterType="Long" resultMap="BPOrderInfoResult">
        <include refid="selectBPOrderInfoVo"/>
        where id = #{id}
    </select>
    <select id="getBpOrderCount" resultType="com.lz.manage.model.vo.bPOrderInfo.BPOrderCountVo">
        select count(id) as orderCount,
        sum(b_p_price) as bppriceCount
        from tb_b_p_order_info
        <where>
            <if test="orderNumber != null  and orderNumber != ''">and order_number like concat('%', #{orderNumber},
                '%')
            </if>
            <if test="orderType != null  and orderType != ''">and order_type = #{orderType}</if>
            <if test="storeId != null ">and store_id = #{storeId}</if>
            <if test="params.beginBPTime != null and params.beginBPTime != '' and params.endBPTime != null and params.endBPTime != ''">
                and DATE_FORMAT(b_p_time, '%Y-%m-%d') between #{params.beginBPTime} and #{params.endBPTime}
            </if>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''">
                and DATE_FORMAT(create_time, '%Y-%m-%d') between #{params.beginCreateTime} and #{params.endCreateTime}
            </if>
            <if test="updateBy != null  and updateBy != ''">and update_by like concat('%', #{updateBy}, '%')</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''">
                and DATE_FORMAT(update_time, '%Y-%m-%d') between #{params.beginUpdateTime} and #{params.endUpdateTime}
            </if>
            <if test="deptIds != null and deptIds.size > 0">
                and dept_id in
                <foreach collection="deptIds" open="(" close=")" separator="," item="id">
                    #{id}
                </foreach>
            </if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
    </select>

    <insert id="insertBPOrderInfo" parameterType="BPOrderInfo" useGeneratedKeys="true" keyProperty="id">
        insert into tb_b_p_order_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNumber != null and orderNumber != ''">order_number,</if>
            <if test="orderType != null and orderType != ''">order_type,</if>
            <if test="storeId != null">store_id,</if>
            <if test="bPPrice != null">b_p_price,</if>
            <if test="bPTime != null">b_p_time,</if>
            <if test="userId != null">user_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="deptId != null">dept_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNumber != null and orderNumber != ''">#{orderNumber},</if>
            <if test="orderType != null and orderType != ''">#{orderType},</if>
            <if test="storeId != null">#{storeId},</if>
            <if test="bPPrice != null">#{bPPrice},</if>
            <if test="bPTime != null">#{bPTime},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="deptId != null">#{deptId},</if>
        </trim>
    </insert>

    <update id="updateBPOrderInfo" parameterType="BPOrderInfo">
        update tb_b_p_order_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderNumber != null and orderNumber != ''">order_number = #{orderNumber},</if>
            <if test="orderType != null and orderType != ''">order_type = #{orderType},</if>
            <if test="storeId != null">store_id = #{storeId},</if>
            <if test="bPPrice != null">b_p_price = #{bPPrice},</if>
            <if test="bPTime != null">b_p_time = #{bPTime},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBPOrderInfoById" parameterType="Long">
        delete
        from tb_b_p_order_info
        where id = #{id}
    </delete>

    <delete id="deleteBPOrderInfoByIds" parameterType="String">
        delete from tb_b_p_order_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>