<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.manage.mapper.EmptyBagCourierHistoryInfoMapper">
    
    <resultMap type="EmptyBagCourierHistoryInfo" id="EmptyBagCourierHistoryInfoResult">
        <result property="id"    column="id"    />
        <result property="dateTime"    column="date_time"    />
        <result property="digest"    column="digest"    />
        <result property="price"    column="price"    />
        <result property="userId"    column="user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="deptId"    column="dept_id"    />
    </resultMap>

    <sql id="selectEmptyBagCourierHistoryInfoVo">
        select id, date_time, digest, price, user_id, create_time, update_by, update_time, remark, dept_id from tb_empty_bag_courier_history_info
    </sql>

    <select id="selectEmptyBagCourierHistoryInfoList" parameterType="EmptyBagCourierHistoryInfo" resultMap="EmptyBagCourierHistoryInfoResult">
        <include refid="selectEmptyBagCourierHistoryInfoVo"/>
        <where>
            <if test="params.beginDateTime != null and params.beginDateTime != '' and params.endDateTime != null and params.endDateTime != ''">
                and DATE_FORMAT(date_time, '%Y-%m-%d') between #{params.beginDateTime} and #{params.endDateTime}
            </if>
            <if test="digest != null  and digest != ''">and digest like concat('%', #{digest}, '%')</if>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''">
                and DATE_FORMAT(create_time, '%Y-%m-%d') between #{params.beginCreateTime} and #{params.endCreateTime}
            </if>
            <if test="updateBy != null  and updateBy != ''">and update_by like concat('%', #{updateBy}, '%')</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''">
                and DATE_FORMAT(update_time, '%Y-%m-%d') between #{params.beginUpdateTime} and #{params.endUpdateTime}
            </if>
            <if test="deptIds != null and deptIds.size > 0">
                and dept_id in
                <foreach collection="deptIds" open="(" close=")" separator="," item="id">
                    #{id}
                </foreach>
            </if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
        order by date_time desc
    </select>
    
    <select id="selectEmptyBagCourierHistoryInfoById" parameterType="Long" resultMap="EmptyBagCourierHistoryInfoResult">
        <include refid="selectEmptyBagCourierHistoryInfoVo"/>
        where id = #{id}
    </select>
    <select id="getEmptyBagCourierHistoryCount"
            resultType="com.lz.manage.model.vo.emptyBagCourierHistoryInfo.EmptyBagCourierHistoryCountVo">
        select COUNT(id) as orderCount, SUM(price) as priceCount
        from tb_empty_bag_courier_history_info
        <where>
            <if test="params.beginDateTime != null and params.beginDateTime != '' and params.endDateTime != null and params.endDateTime != ''">
                and DATE_FORMAT(date_time, '%Y-%m-%d') between #{params.beginDateTime} and #{params.endDateTime}
            </if>
            <if test="digest != null  and digest != ''">and digest like concat('%', #{digest}, '%')</if>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''">
                and DATE_FORMAT(create_time, '%Y-%m-%d') between #{params.beginCreateTime} and #{params.endCreateTime}
            </if>
            <if test="updateBy != null  and updateBy != ''">and update_by like concat('%', #{updateBy}, '%')</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''">
                and DATE_FORMAT(update_time, '%Y-%m-%d') between #{params.beginUpdateTime} and #{params.endUpdateTime}
            </if>
            <if test="deptIds != null and deptIds.size > 0">
                and dept_id in
                <foreach collection="deptIds" open="(" close=")" separator="," item="id">
                    #{id}
                </foreach>
            </if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
    </select>

    <insert id="insertEmptyBagCourierHistoryInfo" parameterType="EmptyBagCourierHistoryInfo" useGeneratedKeys="true" keyProperty="id">
        insert into tb_empty_bag_courier_history_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dateTime != null">date_time,</if>
            <if test="digest != null">digest,</if>
            <if test="price != null">price,</if>
            <if test="userId != null">user_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="deptId != null">dept_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dateTime != null">#{dateTime},</if>
            <if test="digest != null">#{digest},</if>
            <if test="price != null">#{price},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="deptId != null">#{deptId},</if>
         </trim>
    </insert>

    <update id="updateEmptyBagCourierHistoryInfo" parameterType="EmptyBagCourierHistoryInfo">
        update tb_empty_bag_courier_history_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="dateTime != null">date_time = #{dateTime},</if>
            <if test="digest != null">digest = #{digest},</if>
            <if test="price != null">price = #{price},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEmptyBagCourierHistoryInfoById" parameterType="Long">
        delete from tb_empty_bag_courier_history_info where id = #{id}
    </delete>

    <delete id="deleteEmptyBagCourierHistoryInfoByIds" parameterType="String">
        delete from tb_empty_bag_courier_history_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>