<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.manage.mapper.ReplacementOrderInfoMapper">

    <resultMap type="ReplacementOrderInfo" id="ReplacementOrderInfoResult">
        <result property="id" column="id"/>
        <result property="orderNumber" column="order_number"/>
        <result property="storeId" column="store_id"/>
        <result property="dateTime" column="date_time"/>
        <result property="wxNumber" column="wx_number"/>
        <result property="tbNumber" column="tb_number"/>
        <result property="actuallyPrice" column="actually_price"/>
        <result property="commission" column="commission"/>
        <result property="totalPrice" column="total_price"/>
        <result property="returnStatus" column="return_status"/>
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="deptId" column="dept_id"/>
    </resultMap>

    <sql id="selectReplacementOrderInfoVo">
        select id,
               order_number,
               store_id,
               date_time,
               wx_number,
               tb_number,
               actually_price,
               commission,
               total_price,
               return_status,
               user_id,
               create_time,
               update_by,
               update_time,
               remark,
               dept_id
        from tb_replacement_order_info
    </sql>

    <select id="selectReplacementOrderInfoList" parameterType="ReplacementOrderInfo"
            resultMap="ReplacementOrderInfoResult">
        <include refid="selectReplacementOrderInfoVo"/>
        <where>
            <if test="orderNumber != null  and orderNumber != ''">and order_number like concat('%', #{orderNumber},
                '%')
            </if>
            <if test="storeId != null ">and store_id = #{storeId}</if>
            <if test="params.beginDateTime != null and params.beginDateTime != '' and params.endDateTime != null and params.endDateTime != ''">
                and DATE_FORMAT(date_time, '%Y-%m-%d') between #{params.beginDateTime} and #{params.endDateTime}
            </if>
            <if test="wxNumber != null  and wxNumber != ''">and wx_number like concat('%', #{wxNumber}, '%')</if>
            <if test="tbNumber != null  and tbNumber != ''">and tb_number like concat('%', #{tbNumber}, '%')</if>
            <if test="returnStatus != null  and returnStatus != ''">and return_status = #{returnStatus}</if>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''">
                and DATE_FORMAT(create_time, '%Y-%m-%d') between #{params.beginCreateTime} and #{params.endCreateTime}
            </if>
            <if test="updateBy != null  and updateBy != ''">and update_by like concat('%', #{updateBy}, '%')</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''">
                and DATE_FORMAT(update_time, '%Y-%m-%d') between #{params.beginUpdateTime} and #{params.endUpdateTime}
            </if>
            <if test="deptIds != null and deptIds.size > 0">
                and dept_id in
                <foreach collection="deptIds" open="(" close=")" separator="," item="id">
                    #{id}
                </foreach>
            </if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
    </select>

    <select id="selectReplacementOrderInfoById" parameterType="Long" resultMap="ReplacementOrderInfoResult">
        <include refid="selectReplacementOrderInfoVo"/>
        where id = #{id}
    </select>
    <select id="getReplacementOrderCount"
            resultType="com.lz.manage.model.vo.replacementOrderInfo.ReplacementOrderCountVo">
        select
        count(id) orderCount,
        sum(actually_price) actuallyPriceCount,
        sum(commission) commissionCount,
        sum(total_price) totalPriceCount
        from tb_replacement_order_info
        <where>
            <if test="orderNumber != null  and orderNumber != ''">and order_number like concat('%', #{orderNumber},
                '%')
            </if>
            <if test="storeId != null ">and store_id = #{storeId}</if>
            <if test="params.beginDateTime != null and params.beginDateTime != '' and params.endDateTime != null and params.endDateTime != ''">
                and DATE_FORMAT(date_time, '%Y-%m-%d') between #{params.beginDateTime} and #{params.endDateTime}
            </if>
            <if test="wxNumber != null  and wxNumber != ''">and wx_number like concat('%', #{wxNumber}, '%')</if>
            <if test="tbNumber != null  and tbNumber != ''">and tb_number like concat('%', #{tbNumber}, '%')</if>
            <if test="returnStatus != null  and returnStatus != ''">and return_status = #{returnStatus}</if>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''">
                and DATE_FORMAT(create_time, '%Y-%m-%d') between #{params.beginCreateTime} and #{params.endCreateTime}
            </if>
            <if test="updateBy != null  and updateBy != ''">and update_by like concat('%', #{updateBy}, '%')</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''">
                and DATE_FORMAT(update_time, '%Y-%m-%d') between #{params.beginUpdateTime} and #{params.endUpdateTime}
            </if>
            <if test="deptIds != null and deptIds.size > 0">
                and dept_id in
                <foreach collection="deptIds" open="(" close=")" separator="," item="id">
                    #{id}
                </foreach>
            </if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
    </select>

    <insert id="insertReplacementOrderInfo" parameterType="ReplacementOrderInfo" useGeneratedKeys="true"
            keyProperty="id">
        insert into tb_replacement_order_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNumber != null and orderNumber != ''">order_number,</if>
            <if test="storeId != null">store_id,</if>
            <if test="dateTime != null">date_time,</if>
            <if test="wxNumber != null">wx_number,</if>
            <if test="tbNumber != null">tb_number,</if>
            <if test="actuallyPrice != null">actually_price,</if>
            <if test="commission != null">commission,</if>
            <if test="totalPrice != null">total_price,</if>
            <if test="returnStatus != null">return_status,</if>
            <if test="userId != null">user_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="deptId != null">dept_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNumber != null and orderNumber != ''">#{orderNumber},</if>
            <if test="storeId != null">#{storeId},</if>
            <if test="dateTime != null">#{dateTime},</if>
            <if test="wxNumber != null">#{wxNumber},</if>
            <if test="tbNumber != null">#{tbNumber},</if>
            <if test="actuallyPrice != null">#{actuallyPrice},</if>
            <if test="commission != null">#{commission},</if>
            <if test="totalPrice != null">#{totalPrice},</if>
            <if test="returnStatus != null">#{returnStatus},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="deptId != null">#{deptId},</if>
        </trim>
    </insert>

    <update id="updateReplacementOrderInfo" parameterType="ReplacementOrderInfo">
        update tb_replacement_order_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderNumber != null and orderNumber != ''">order_number = #{orderNumber},</if>
            <if test="storeId != null">store_id = #{storeId},</if>
            <if test="dateTime != null">date_time = #{dateTime},</if>
            <if test="wxNumber != null">wx_number = #{wxNumber},</if>
            <if test="tbNumber != null">tb_number = #{tbNumber},</if>
            <if test="actuallyPrice != null">actually_price = #{actuallyPrice},</if>
            <if test="commission != null">commission = #{commission},</if>
            <if test="totalPrice != null">total_price = #{totalPrice},</if>
            <if test="returnStatus != null">return_status = #{returnStatus},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteReplacementOrderInfoById" parameterType="Long">
        delete
        from tb_replacement_order_info
        where id = #{id}
    </delete>

    <delete id="deleteReplacementOrderInfoByIds" parameterType="String">
        delete from tb_replacement_order_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>